body {

background: linear-gradient(to right, #2c5aa0,#1a936f );
height: 100vh; 
  margin: 0;


}


.logo {
background-color:  rgba(255, 255, 255, 0.548);
position: fixed;
top: 0;
left: 0;
z-index: 1000;
width: 100%;
}

.logo h1 {

padding: 5px;
text-align: center;
color: #2c5aa0;
margin-top: 0px;
margin-bottom: 0px;
}

.courses {
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 25px;
    margin-left: 20px;
    margin-top: 80px;



}

.course {
width: 90%;
height: 180px;
background-color: rgba(0, 0, 139, 0.5);
border: solid white;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
}

.course:hover {

 transform: translateY(-5px);
box-shadow: 0 14px 30px rgba(0, 0, 0, .35);
}

.course h1 {

color: white;
align-items: center;

}

.course a {

text-decoration: none;

}





