body {

 height: 100vh; 
  margin: 0;
  background: linear-gradient(to right, #2c5aa0,#1a936f );
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}

.container {

width: 100%;
max-width: 1200px;
padding: 20px;
}

.item {

display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 40px;

}


.card {
background-color: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0.95);
border-radius: 20px;
overflow: hidden;
box-shadow: 0 15px 35px rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0.2);
transition: all 0.3 ease;
width: 320px;
text-align: center;
position: relative;

}

.card:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.card img {

width: 100%;
height: 250px;
object-fit: cover;
display: block;
}

.card a {

display: block;
padding: 20px;
color: white;
text-decoration: none;
font-size: 18px;
font-weight: 600;
letter-spacing: 2px;


}

.teacher-card a {

background: #1a936f;

}

.teacher-card:hover {

border: solid darkgreen ;

}

.student-card a {

background: #2c5aa0;

}

.student-card:hover {

border: solid darkblue;

}

@media (max-width: 768px) {

.item {
  gap: 30px;
}

.card {
  width: 280px;
}

  .card img {

   height: 220px;

  }



}

@media (max-width: 600px) {

.item {
  gap: 20px;
}

.card {
width: 100%;
max-width: 350px;
}

body {
  padding: 10px;
}


}

@media (max-width: 400px) {

.card {
  width: 100%;
}

.card a {
  padding: 15px;
  font-size: 16px;
}

}














